.user{
	text-align : center;
}
.userR{
	text-align : right;
}
.userL{
	text-align : left;
}
.blue{
	color :black;
	background-color : #7f7fff;
}
.green{
	color :black;
	background-color : #7fff7f;
}
.red{
	color :black;
	background-color : #ff7f7f;
}
.red1{
	color : red;
}
.bg{
	color : white;
	background-color : #606060;
}
.logout{
	color : red;
}